#root {
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  filter: drop-shadow(0 0 1em #ffffff15);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cardWrap {
  padding: 0px 20px;
}
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.NAVBAR {
  display: flex;

  align-items: center;
  justify-content: space-around;

  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.NAVBAR h1 {
  color: #ffffff;
  text-shadow: 5px 3px 0px #d47942;

  margin: 0;
  font-size: 36px;
}
nav a {
  text-decoration: none;
}
.btn {
  border-radius: 8px;
  background-color: #e5e5e5;
  font-weight: 600;
  padding: 0.6em 1.2em;
  color: #000000;
  font-size: 14px;
  border: 1px solid transparent;
  margin: 10px;

  font-size: 18px;
  box-shadow: 0px 0px 10px #ffffff28;
  transition: background-color 200ms linear, box-shadow 200ms linear,
    transform 200ms linear, border-color 200ms linear;
}
.btn:hover {
  box-shadow: none;
  transform: scale(1.05);
  animation: pulse 3s infinite ease-in-out;
}
.cardWrap {
}
.card {
  background-color: #e5e5e5;

  color: black;
  max-width: 80ch;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
  white-space: pre-wrap;
  cursor: pointer;
  transition: transform 200ms linear;
  border: 1px solid white;
  box-shadow: 0px 0px 10px #ffffff28;
}
@keyframes pulse {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #d47942;
  }
  100% {
    border-color: #000000;
  }
}
.card:hover {
  animation: pulse 3s infinite ease-in-out;
}

.question {
  font-weight: 600;
  transition: transform 200ms linear;
}
.answer {
}
.cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.btn:focus {
  outline: none;
}

.fade {
  transition: transform 0.3s linear, height 0.3s linear;
}
.fade.out {
  transform: rotateY(90deg);
}
.fade.next {
  transform: translateX(10px);
}
.fade.prev {
  transform: translateX(-10px);
}
.arrowWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.addForm h3 {
  margin: 0;
}
.Course {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.Course h3 {
  width: auto;
  color: #e5e5e5;
}
.Course input {
  width: 50%;
  line-height: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.questionWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px 0px;
}
.questionWrap .input {
}
.removeQ {
  background-color: #b37272;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.input textarea {
  min-height: 60px;
  height: fit-content;

  resize: vertical;
}
.newQ {
  width: 45%;
  margin: 0;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  justify-content: center;
  background-color: #7db372;
  color: white;
  border-color: #7db372;
}
.submit {
  border-radius: 50px;
  width: 45%;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* 
Styling för desktop
*/
@media (min-width: 768px) {
  .NAVBAR {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
  }
  .NAVBAR h1 {
    font-size: 48px;
  }
  .btn {
    font-size: 18px;
  }
  .arrowWrap {
    justify-content: center;
    gap: 50px;
  }
  .addForm {
    width: 70%;
    justify-content: left;
  }
  .Course {
    align-items: flex-start;
    width: 40%;
  }
  .questionWrap {
    flex-direction: row;
  }
  .questionWrap .input {
    width: 40%;
  }
  .submit,
  .newQ {
    width: fit-content;
    margin: 0;
  }
  .newQ {
    margin-right: 20px;
  }
}

/* 
Styling för ljust tema
*/
@media (prefers-color-scheme: light) {
}
