:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0px 5px;
}
body {
}

button {
  font-family: inherit;
  cursor: pointer;
}
textarea {
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  font-family: inherit;
  font-size: 18px;
}
input,
textarea {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px #00000028;
  transition: box-shadow 200ms linear, outline 200ms linear;
}
input:focus,
textarea:focus {
  box-shadow: 4px 4px 0px #d47942, 0px 4px 0px #d47942, 4px 0px 0px #d47942;
  outline: 2px solid #d47942;
}
@keyframes pulse {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: #5da9ff;
  }
  100% {
    border-color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
}
